<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salereport.mapper.TransactionSaleMapper">

    <resultMap id="saleTransactionsResultMap" type="Transaction">
        <id property="id" column="transaction_id"/>
        <result property="dateTransaction" column="date_transaction"/>
        <result property="patients.patient_id" column="patients_patient_id"/>
        <result property="patients.phone" column="patients_phone"/>
        <result property="patients.states.state_id" column="patients_states_state_id"/>
        <result property="patients.states.code" column="patients_states_code"/>
        <result property="patients.states.name" column="patients_states_name"/>
        <result property="products.product_id" column="products_product_id"/>
        <result property="products.name" column="products_name"/>
        <result property="products.states.state_id" column="products_states_state_id"/>
        <result property="products.states.code" column="products_states_code"/>
        <result property="products.states.name" column="products_states_name"/>
    </resultMap>

    <select id="getTransactions" resultMap="saleTransactionsResultMap" parameterType="date">
        SELECT
        T.TRANSACTION_ID as TRANSACTION_ID,
        T.DATE_TRANSACTION as DATE_TRANSACTION,
        T.PATIENTID as PATIENTID,
        T.PRODUCTID as PRODUCTID

        FROM TRANSACTIONS T

        WHERE DATE_TRANSACTION BETWEEN #{dateFrom} and #{dateBefore}
    </select>

</mapper>
