<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type='com.modelsale.model.Transaction' alias='Transaction'></typeAlias>
        <typeAlias type='com.modelsale.model.Patient' alias='Patient'></typeAlias>
        <typeAlias type='com.modelsale.model.Product' alias='Product'></typeAlias>
        <typeAlias type='com.modelsale.model.State' alias='State'></typeAlias>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/SaleMapper.xml" />
    </mappers>
</configuration>
